<h1>Client Management</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
          <%= client.user.email %>
        </td>
        <td>
          <%= client.user.account_type %>
        </td>
        <td>
          <%= link_to("Delete user", admin_client_path(client), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'admin/shared/links' %>