%h1 Admin Dashboard
%h3
  Hello #{current_user.name  if current_user.name.present?}
= link_to 'Log Out', destroy_user_session_path, method: :delete
|
= link_to  "Users", admin_users_path
|
= link_to 'Tags', admin_tags_path
