.nested-fields
  .form-row
    .form-group.col-md-2
      = f.input :phase_id, collection: Phase.all.map { |p| [ p.phase_number, p.id ] }
    .form-group.col-md-2
      = f.input :status
    .form-group.col-md-6
      = f.input :learning_objectives
    .form-group.col-md-2
      = link_to_remove_association 'Remove', f, class: 'form-control btn btn-danger gutter-top'