= form.simple_fields_for :milestones do |f|
  = render 'milestone_fields', f: f
= link_to_add_association 'Add milestone', form, :milestones
.form-group
  = form.submit 'Save', :class => 'btn btn-primary float-right'
