= link_to_add_association 'Add milestone', form, :milestones, partial: 'shared/company_phase_milestone_fields', class: "btn btn-secondary mb-4"
= form.simple_fields_for :milestones do |f|
  = render 'shared/company_phase_milestone_fields', f: f
.form-group
  = form.submit 'Save Milestones', :class => 'btn btn-primary mt-4'
