.d-flex.flex-row.align-items-center
  %h1{ class: 'flex-grow-1'} Hours logged
  = link_to "Track new", new_mentor_time_tracking_path, class: 'btn btn-primary btn-sm'
.container.container-content
  %table.table.table-borderless.table-responsive-sm{id: ""}
    %thead
      %tr
        %th Date
        %th Hours Spent
        %th Notes
        %th Company
    %tbody#topics
      = render @time_trackings
      %td 
        %b Current Monthly Hours
      %td= current_user.current_monthly_hours
  = link_to "Download report", mentor_time_trackings_path(format: "csv"), class: 'btn btn-primary'