.nested-fields
  .form-row
    .form-group.col-md-6
      = f.text_field :description, autofocus: false, placeholder: 'Description', class: 'form-control'
    .form-group.col-md-4
      = f.number_field :score, autofocus: false, placeholder: 'Score', class: 'form-control'
    .form-group.col-md-2
      = link_to_remove_association "Remove task", f, class: 'btn btn-danger'