.nested-fields
  .input-group.mb-3
    .input-group-prepend
      .input-group-text
        = f.check_box :complete
    = f.input :title, autofocus: false, class: 'form-control', disabled: f.object.title.present?
  = link_to_remove_association "Remove Milestone", f