.d-flex.flex-row.align-items-center
  %h1{ class: 'flex-grow-1'} User Management
  = link_to('New User', new_admin_client_path, class: 'btn btn-primary btn-sm', id: 'new-user')
%nav
  #nav-tab.nav.nav-tabs{role: "tablist"}
    %a#nav-client-tab.nav-item.nav-link.active{"aria-controls" => "nav-client", "aria-selected" => "true", "data-toggle" => "tab", href: "#nav-client", role: "tab"} Clients
    %a#nav-admin-tab.nav-item.nav-link{"aria-controls" => "nav-admin", "aria-selected" => "false", "data-toggle" => "tab", href: "#nav-admin", role: "tab"} Admins
    %a#nav-mentor-tab.nav-item.nav-link{"aria-controls" => "nav-mentor", "aria-selected" => "false", "data-toggle" => "tab", href: "#nav-mentor", role: "tab"} Mentors
#nav-tabContent.tab-content
  #nav-client.tab-pane.fade.show.active{"aria-labelledby" => "nav-client-tab", role: "tabpanel"}
    = render 'admin/clients/client_list'
  #nav-admin.tab-pane.fade{"aria-labelledby" => "nav-admin-tab", role: "tabpanel"}
    = render 'admin/admins/admin_list'
  #nav-mentor.tab-pane.fade{"aria-labelledby" => "nav-mentor-tab", role: "tabpanel"}
    = render 'admin/mentors/mentor_list'