<h3>Mentor Management</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |mentor| %>
      <tr>
        <td>
          <%= mentor.user.email %>
        </td>
        <td>
          <%= mentor.user.account_type %>
        </td>
        <td>
          <%= link_to("Delete user", admin_mentor_path(mentor), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'admin/shared/links' %>