.form-group
  = f.label :name
  %br/
  = f.text_field :name, autofocus: false, class: 'form-control'
.form-group
  = f.label :email
  %br/
  = f.email_field :email, autofocus: false, class: 'form-control'
