.form-group
  = f.input :name, autofocus: false, class: 'form-control'
.form-group
  = f.input :email, autofocus: false, class: 'form-control'
.form-group
  = f.input :phone, autofocus: false, class: 'form-control'
