%h1 Hours logged
.container.container-content
  %table.table.table-borderless.table-responsive-sm{id: ""}
    %thead
      %tr
        %th Date
        %th Hours Spent
        %th Notes
        %th Mentor
    %tbody#topics
      = render @time_trackings
      %td Current Monthly Hours
      %td= @company.current_monthly_hours
      %td
      %td