%h1 Hours logged
%table.table.table-bordered.table-striped{id: ""}
  %thead
    %tr
      %th Date
      %th Hours Spent
      %th Notes
      %th Mentor
  %tbody#topics
    = render @time_trackings
    %td Total
    %td= @total_time
    %td
    %td